<!DOCTYPE html>
<html>
<head>
  <title>File Upload</title>
</head>
<body>
  <h1>Upload an Event Banner</h1>
  <form action="/uploadeventphotos" method="POST" enctype="multipart/form-data">

    <input type="file" name="image">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
